.container {
  display: flex;
  flex-direction: row;
}

.picture {
  width: 50vw;
  height: 100vh;
  background-color: #CEE6FF;
  display: flex;
  align-items: center;
  .login-picture{
    width: 400px;
    margin-top: 80px;
    margin-right: 0;
    margin-left: auto;
  }
}

.login {
  width: 50vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;/* 垂直排列 */
  align-items: center; /* 垂直居中 */
  justify-content: space-around;


  .logo{
    align-self: flex-start; /* 顶部对齐 */
    margin-top: 10px; /* 边距20 */
    margin-left: 20px; /* 左对齐 */
    display: flex;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;/* 垂直排列 */
    align-items: center; /* 垂直居中 */
    text-align: center; /* 水平居中 */

    .remember-forgot-container {
      width: 100%;
      display: flex;
      align-items: center; /* 垂直居中 */
      justify-content: space-between; /* 将子元素分散对齐 */
      .login-form-forgot{
        text-align: right; /* 文本右对齐 */
      }
    }

    .button {
      display: flex;
      flex-direction: column;/* 垂直排列 */
      align-items: center; /* 垂直居中 */
      margin-top:40px;
      .login-form-button{
        width:200px;
        height:40px;
      }
    }

  }

  .link{

  }
}

