.user-container{
  display: flex;
  flex-direction: row;
  //width: 20vw; /* 设置宽度为页面宽度的20% */
  height: 24vh; /* 设置高度为页面高度的20% */
  background-color: #F5FBFD;
  border: 1px black solid;
  align-items: center;
}

.user-container img{
  margin-left: 5%;
  max-height: 80%;
  max-width: 80%;
  display: block;
}

.content{
  //margin: 20px;
  border: 1px black solid;
}

//.user-content {
//  //font-size: 50px; /* 设置字号 */
//  contentStyle: fontSize '16px'
//}

.UserHome-editButton{
  padding: 5%;
}

.label {
  margin-right: 10px; /* 设置 label 和 content 之间的间距 */
  //margin: 10px 0;
}

.custom-descriptions .custom-item{
  margin: 0 10px;
  border: 1px black solid;
}