.background-container{
    background-image: url('../../assets/images/register/pattern.png'); /* 替换为你的图片路径 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #a2d0ff;
    height: 100vh; /* 设置高度为视窗高度 */
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pattern{
    width:100vw;
}
.welcome {
    width: 25%;
    height: 7%;
    //margin-left: 13%;
    margin-top: 5px;
    border: 1px #181931 solid;

}
.wrap-contain {
    height: 85%;
    display: flex;
    text-align: center;
    align-self: flex-end; /* 在交叉轴底部对齐 */
    width: 50%;
    margin-top: auto; /* 将顶部边距设置为 auto，使内容靠近页面底部 */
    margin-right: 28%;
    flex-direction: column;
    border: 1px #181931 solid
}

.center-contain {
    display: flex;
    align-items: center;
    align-self: flex-end; /* 在交叉轴底部对齐 */
    width: 90%;
    height: 80%;
    background-color: rgb(243, 252, 255);
    margin-top: auto; /* 将顶部边距设置为 auto，使内容靠近页面底部 */
    // padding: 0 20px;
    box-shadow: 20px 3px 10px -5px rgba(167, 207, 236, 0.75);
}

.shareCommunity {
    display: flex; /* 设置为弹性容器 */
    flex-direction: column;
    //text-align: center;
    position: absolute;
    top: 31%;
    padding: 10px;
    width: 45%;
    height: 25%;
}
.shareCommunity img {
    padding: 10px;
    width: 45%;
    height: auto; /* 保持图片宽高比例 */
}
.shareCommunity a {
    width: 30%;
    float: right;
}
.shareCommunity a p {
    text-align: right;
    font-size: 20%;
    height: auto;
    width: 50%;
}
