.background-container {
  background-image: url('../../assets/images/register/pattern.png'); /* 替换为你的图片路径 */
  background-size: cover;
  background-position: center;
  background-color: #CEE6FF;
  height: 100vh; /* 设置高度为视窗高度 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.welcome-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 0 4% 0;

  .welcome{
    width: 80%;
    height: auto;
  }
}

.wrap-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F3FCFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 添加投影 */

  .shareCommunity {
    //background-color: rgb(243, 252, 255);
    display: flex; /* 设置为弹性容器 */
    flex-direction: column;
    width: 100%;
    margin: 5% 0 5% 10%;
    //height: 10%;
    //margin-top: 5%;
    //margin-right: 40%;

    .title {
      width: 40%;
      //padding: 20px;
      //width: 100%;
      //height: auto; /* 保持图片宽高比例 */
    }
  }

  .register-form{
    display: flex;
    flex-direction: column;
    padding:0 5% 0 5%;
    width: 85%;

    .Verification-code{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      //border: 1px red solid
      .vcode-btn{
         margin-left: 10px;
      }
    }

  }


}



.remember-forgot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* 将子元素分散对齐 */
}



.button{
  margin-left: 10px;
}

.text-content{
  padding-bottom: 5%;
}

//.title-text{
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between; /* 将子元素分散对齐 */
//  align-items: center;
//  //a{
//  //  color: blue;
//  //}
//}




.remember-forgot-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* 将子元素分散对齐 */
  width: 100%;
  //align-items: center;
}
