.all{
    width: 100%;
    height: 100%;
    background-color: rgb(240,244,247);
}
.app {
    width: 60%;
    margin: 50px auto;
    height: 450px;
    background-color: rgb(245,251,253)
}

.wrap {
    position: relative;
    height: auto !important;
}
.listTop{
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: 50px;
}
.List{
    padding-top: 60px;
    list-style: none;
    counter-reset: my-counter;
    margin-top: 80px;
}
.list{
    font-size: large;
    padding-left: 2px;
    margin-bottom: 25px;
}
.list::before{
    content:counter(my-counter);
    counter-increment: my-counter;
    position: relative;
    left: -20px;
    font-weight: bold;
    color: #4390FF;
}
