.all {
  width: 100%;
  height: 100%;
  background-color: rgb(240, 244, 247);
}

.app {
  width: 60%;
  margin: 50px auto;
  display: flex; /* 使用 Flexbox 布局 */
  flex-direction: column; /* 列排列 */
  min-height: 66vh; /* 设置最小高度为视口高度 */
  background-color: rgb(245, 251, 253);
}


.wrap {
  position: relative;
  //height: auto !important;
  width: 100%;
  //border: 1px black solid;
}

.List {
  //padding-top: 60px;
  list-style: none;
  counter-reset: my-counter;
  margin-top: 20px;
  //border: 1px black solid;
}

.list {
  font-size: large;
  padding-left: 2px;
  margin-bottom: 25px;
  //border: 1px black solid;
}

.list::before {
  //border: 1px black solid;
  content: counter(my-counter);
  counter-increment: my-counter;
  position: relative;
  //left: -20px;
  font-weight: bold;
  color: #4390FF;
  padding-right: 20px; // 调整序号和文本之间的右侧间隔
}
