.wrap-inside {
  width: 100%;
}

.app {
  width: 60%;
  margin: 50px auto;
}

.reply-img {
  height: 180px;
  width: 180px;
}

.replyImg {
  height: 180px;
  width: 180px;
}

.bili-avatar {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.bili-avatar-img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 48px;
  height: 48px;
  object-fit: cover;
  border: none;
  border-radius: 50%;
  image-rendering: -webkit-optimize-contrast;
  transform: translate(-50%, -50%);
}

.reply-item {
  padding: 22px 0 0 80px;
}

.reply-none {
  height: 64px;
  margin-bottom: 80px;
  color: #99a2aa;
  font-size: 13px;
  line-height: 64px;
  text-align: center;
}

.reply-HL {
  color: #5f9cf5;
  font-size: larger;
}

.deal-content { // 将 .app 改名为 .deal-content
  width: 85%; // 设置为 85%
  margin: 50px auto;
}