.letter-all {
  background-color: #f5f5f5;
  height: 100vh;
  overflow-y: hidden;
}
.all {
  margin: 0 300px; /* 调整左右边距的数值 */
  padding-top: 40px;
}
h1 {
  background-color: #dcedff;
  height: 100px;
  padding-top: 40px;
  padding-left: 100px;
}

.letter-content {
  background-color: #f7fdff;
  width: 1120px;
  height: 500px;
}
.letter-content img {
  padding: 80px 350px;
}
:where(.css-dev-only-do-not-override-1b0bdye).ant-layout .ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  background-color: rgb(245,245,245);
  padding-top: 0.1px;
}