.letter-all {
  background-color: #f5f5f5;
  height: 100vh;
  overflow-y: hidden;
}
.all {
  margin: 0 300px; /* 调整左右边距的数值 */
  padding-top: 40px;
}
h1 {
  background-color: #dcedff;
  height: 100px;
  padding-top: 40px;
  padding-left: 100px;
}
.privateletter-content {
  display: flex;
}
.privateletter-left {
  height: 550px;
  width: 240px;
  background-color: #f7fdff;
}
.left-up {
  height: 80px;
  width: 240px;
  border-bottom-style: solid; /* 设置底部边框样式为实线 */
  border-bottom-width: 2px; /* 设置底部边框宽度为2像素 */
  border-bottom-color: #f0f4f7;
}
.left-up p {
  font-size: 28px;
  color: #17233d;
  padding-top: 25px;
  padding-left: 20px;
  letter-spacing: 5px;
}
.left-down {
  height: 325px;
  width: 200px;
}
.left-down img {
  width: 240px;
  height: 240px;
}
.privateletter-right {
  background-color: #d8ddde;
}
.right-up {
  height: 300px;
  width: 800px;
  border-bottom-style: solid; /* 设置底部边框样式为实线 */
  border-bottom-width: 2px; /* 设置底部边框宽度为2像素 */
  border-bottom-color: #f5fbfd;
}
