.logo{
  display: flex;
  flex-direction: row;
}

.line{
  margin-left: 20px;//左间距
  .logo-name{
    margin-bottom: 5px;//底间距
    font-size: 32px;//字号
    color: black;//颜色
    letter-spacing: 12px;//字间距
  }
}
.logo-picture{

}

